.env
venv/

front-end/dist
front-end/tmp
front-end/out-tsc

front-end/bazel-out

front-end/node_modules

chrome-profiler-events*.json

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

front-end/.sass-cache
front-end/connect.lock
front-end/coverage
front-end/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
front-end/typings

.DS_Store
Thumbs.db